# Data Science Tools and Ecosystem

## Author ##
William M.

In this notebook, Data Science Tools and Ecosystems are summarized.

<b>Objectives:</b>
- List popular languages
- List popular libraries
- List popular open source tools
- Show basic arithmetic

Some of the popular languages that data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- TensorFlow
- SciPy
- NumPy

| Open Source Tools | 
|-------------------|
| RStudio |
| Jupyter |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

- 2 ** 3 is 2 to the power of 3
- 2 * 3 is 2 multiplied by 3
- 8 / 5 is 8 divided by 5

In [1]:
### in this operation, (3*4)+5, 3 will first be multiplied by 4. Five will then be added to the product. ###

(3 * 4) + 5

17

In [6]:
### This will convert 200 minutes to hours by dividing by 60 ###

min = 200
hours = min / 60
min/60

3.3333333333333335